.login-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -90px;
}

.title-loguin {
  font-size: 30px;
  margin-bottom: 0px;
}

.subtitle {
  margin-bottom: 40px;
}

.login-form {
  width: 90%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
  /* fondo semitransparente */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  /* soporte en Safari */
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.input-form {
  width: 90%;
  height: 40px;
  border: none;
  border-radius: 10px;
  outline: none;
  border-radius: 8px;
  background-color: #f2ece8;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  color: #584f4f;
}

.button-entrar {
  font-size: 18px;
  font-weight: bold;
  width: 80%;
  height: 45px;
  margin-top: 20px;
  border: none;
  border-radius: 8px;
  background-color: #f2ece8;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  color: #584f4f;
  outline: none;
  transition: 0.3s;
}

.button-entrar:hover {
  background-color: #e3d5cb;
  transform: scale(1.05);
}

.google-login-container {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  perspective: 1000px;
}

.google-login-container div[role="button"] {
  height: 58px !important;
  min-width: 290px !important;
  border-radius: 14px !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;

  position: relative;
  overflow: hidden;
}

.google-login-container div[role="button"]::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2), transparent);
  transition: left 0.6s ease;
}

.google-login-container div[role="button"]:hover {
  transform: translateY(-3px) rotateX(5deg);

}

.google-login-container div[role="button"]:hover::before {
  left: 100%;
}

.google-login-container div[role="button"]:active {
  transform: translateY(-1px);
}