.input {
  background-color: #ffffff;
width: 90%;
  height: 25px;
  padding: 10px;
  /* text-align: center; */
  border: 2px solid white;
  border-radius: 5px;
  /* box-shadow: 3px 3px 2px rgb(249, 255, 85); */
}

.input:focus {
  color: rgb(220, 168, 37);
  background-color: #ffffff;
  outline-color: rgb(253, 65, 193);
  box-shadow: -3px -3px 15px rgb(227, 193, 27);
  transition: .1s;
  transition-property: box-shadow;
}