.section {
  width: 100%;
  min-width: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto;
}

.container-section-titles {
  width: 100%;
  transform: translateY(60px);
  /* margin-top: 90px; */
  /* background-color: red; */
  z-index: 100;
}

.section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #c0a439;
  margin-top: 15px;
  transition: transform 0.2s ease;
  position: relative;
}

.services-container {
  padding: 10px;
  width: 100%;
  overflow: hidden;
  margin-top: 50px;
  
}

.service-card {
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid #c0a439;
  background-color: #fff;
  transition: 0.3s;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.4s ease-out forwards;
  z-index: 10;
}

.service-card:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.container-button {
  display: flex;
  justify-content: end;
}


.service-name {
  text-align: left;
  color: #c0a439;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-link: none;
  text-decoration: none;
  pointer-events: none;
  text-decoration: none !important;
  -webkit-text-fill-color: #c0a439 !important;
}

.details-service {
  text-align: left;
  font-size: 16px;
  color: #3a3939;
}

.description {
  text-align: left;
}

.toggle-description {
  font-size: 16px;
  border: none;
  background: transparent;
}

.book-button {
  font-size: 17px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #f2ece8;
  color: #000;
  cursor: pointer;
}

@media (max-width: 768px) {
  .section {
    width: 95%;
  }

  .section-title {
    font-size: 18px;
  }
}

.section-title span {
  color: #000 !important;
  text-decoration: none !important;
  -webkit-text-fill-color: #000 !important;

  /* para iOS Safari */
}


