html {
  scroll-behavior: smooth;
}

body {
  font-family: inter, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* src/App.css */
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-content {
  width: 90%;
  margin: 160px auto 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-title {
  text-align: center;
}

.page-container {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
}

@media (max-width: 768px) {
  .main-content {
    margin: 140px auto 20px;
  }
}
