html {
  scroll-behavior: smooth;
}

body {
  font-family: inter, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.fixed-circle {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  background-color: #c0a439;
  border-radius: 50%;
  z-index: -1;
  pointer-events: none;
  filter: blur(80px); /* este es el efecto estilo Figma */
  opacity: 0.7; /* opcional: para hacerlo más sutil */
}

/* src/App.css */
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-content {
  width: 90%;
  margin: 160px auto 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-title {
  text-align: center;
}

.page-container {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
}

@media (max-width: 768px) {
  .main-content {
    margin: 90px auto;
  }
}
