html {
  scroll-behavior: smooth;
}

body {
  font-family: inter, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.fixed-circle {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  background-color: #c0a439;
  border-radius: 50%;
  z-index: -1;
  pointer-events: none;
  filter: blur(80px);
  /* este es el efecto estilo Figma */
  opacity: 0.7;
  /* opcional: para hacerlo más sutil */
}

/* src/App.css */
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-content {
  width: 90%;
  margin: 160px auto 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-title {
  text-align: center;
}

.page-container {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
}

@media (max-width: 768px) {
  .main-content {
    margin: 90px auto;
  }
}

.servicion-container {
  margin-top: 120px;
}

.skeleton-container {
  padding: 16px;
  max-width: 600px;
  margin: 80px auto;
  animation: pulse 1.5s infinite ease-in-out;
}

.search-skeleton {
  height: 40px;
  background: #eee;
  border-radius: 8px;
  margin-bottom: 12px;
}

.filters-skeleton {
  display: flex;
  gap: 8px;
  margin-bottom: 20px;
}

.filter-pill-skeleton {
  width: 80px;
  height: 32px;
  background: #e0e0e0;
  border-radius: 16px;
}

.service-section-skeleton {
  height: 40px;
  background: #f0f0f0;
  border-radius: 6px;
  margin-bottom: 10px;
}

.comentario-title-skeleton {
  width: 120px;
  height: 20px;
  background: #ddd;
  margin: 24px 0 8px;
  border-radius: 4px;
}

.comentario-card-skeleton {
  height: 60px;
  background: #f5f5f5;
  border-radius: 6px;
  margin-bottom: 8px;
}

@keyframes pulse {
  0% {
    background-color: #f0f0f0;
  }

  50% {
    background-color: #e0e0e0;
  }

  100% {
    background-color: #f0f0f0;
  }
}